*{
    margin: 0;
    padding: 0;
}
/* Font Setup */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}
:root{
    --HWhite: rgb(247, 247, 247, 1);
    --HBlue: rgb(1, 172, 253);
    --HOrange: rgb(254, 163, 1);
    --HBlack: rgb(17, 17, 17, 1);
    font-family: "Quicksand", serif;
}
/* Shared styles */
.dis-flex{
    display: flex;
}
.df-jus-center{
    justify-content: center;
}
.df-jus-left{
    justify-content: left;
}
.df-align-center{
    align-items: center;
}
.dis-grid{
    display: grid;
}

.btn-orange{
    color: var(--HWhite);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5em;
    background-color: var(--HOrange);
    border: 0;
    border-radius: .75rem;
    padding: 1rem 3.75rem;
}
.btn-orange:hover{
    color: var(--HOrange);
    background-color:rgba(255, 160, 122, 0.3);
}
.btn-black{
    color: var(--HWhite);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5em;
    background-color: var(--HBlack);
    border: 0;
    border-radius: .75rem;
    padding: 1rem 3.75rem;
}
.btn-black:hover{
    background-color:var(--HBlue);
}
/* Nav Styles */
.nav{
    max-width: 1160px;
    margin: 20px auto;
}
.brand{
    gap: 1.25rem;
    margin-left: 1rem ;
}
.logo-name{
    color: var(--HBlack);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1em;
}
.logo-name:hover{
    color: slategray;
}
.nav-items{
    gap: 2rem;
    padding: 0 186px;
}
.nav-item{
    list-style: none;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5em;
}
.nav-link{
    text-decoration: none;
}
#nav1{
    color:rgb(254, 163, 1);
}
#nav2{
    color: rgb(1, 172, 253);
}
#nav3{
    color: rgb(5, 212, 223);
}
#nav4{
    color: rgb(93, 88, 239);
}
#nav1:hover{
    color:slategrey;
}
#nav2:hover{
    color:slategrey;
}
#nav3:hover{
    color:slategrey;
}
#nav4:hover{
    color:slategrey;
}
.Ham-img{
    width: 50px;
    height: 50px;
    display: none;
}
#btn-1{
    margin-right: 1rem;
}
#hr1{
    display: none;
}
/* Header Styles */
.Hero{
    max-width: 1160px;
    margin: 20px auto;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}
.hero-text{
    flex-direction: column;
    align-items: flex-start;
    max-width: 640px ;
    gap: 1.5rem;
    /* border: 1px dashed rgb(255, 3, 3); */
}
.hero-title{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.1em;
    /* border: 1px dotted rgb(43, 255, 0) */
}
.hero-desc{
    color: rgb(17, 17, 17);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25em;
    /* border: 1px dotted rgb(255, 187, 0) */
}
#btn2{
    /* border: 1px dotted rgb(38, 0, 255) */
}
.hero-img{
    /* border: 1px dotted rgb(43, 255, 0) */
}
/* Main Styles */


/* Standard-Curriculum Styles */


/* Our Stories Styles */


/* Footer  Styles */


/* Responsive Mobile (<576px) Styles */
@media screen and (max-width:576px) {
    /* Shrinking Nav Bar */
    .nav-bar, .logo-name{
        display: none;
    }
    .Ham-img, #hr1{
        display: block;
    }
    .brand{
        gap:70vw ;
    }
    /* Header */
    .Hero{
        flex-direction: column-reverse;
        max-width: 515px;
    }
    .hero-text{
         align-items: center;
    }
}
